.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3f51b5;
  color: white;
  height: 50px;
  padding: 0 20px;
  margin-bottom: 1em;

  &-title {
    font-size: 20px;
    font-weight: bold
  }

  &-actions {
    display: flex;

    > button {
      border: none;
      background-color: transparent;
      color: white;
      font-size: 16px;
      cursor: pointer;
    }

  }
}